<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Express</title>
</head>
<body>
    <nav>
        <h1>Home Express</h1>
        <ul>
            <li>Sobre</li>
            <li>Contato</li>
            <li>Produtos</li>
        </ul>
    </nav>
    
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            background-color: burlywood;
            height: 15vh;
        }
        ul {
            gap: 20px;
            display: flex;
        }
        li {
            list-style: none;
        }
    </style>
</body>
</html>